.chat {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 90%;
}

.list {
    background-color: rgb(149, 223, 245);
    flex-grow: 1;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow: auto;
    margin-bottom: 1rem;
}

.promt {
    align-self: flex-start;
    background-color:#98FF98 ;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    text-align: justify;
    margin: 0.5rem;

}

.answer {
    align-self: flex-end;
    background-color:#FFFFE0 ;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    text-align: justify;
    margin: 0.5rem;
}
.imageAnswer {
    align-self: flex-end;
    background-color:#FFFFE0 ;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    text-align: justify;
    margin: 0.5rem;
    max-width: 20rem;
}

.form {
    display: flex;
    justify-content: center;
}


