.chat {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 90%;
}

.list {
    background-color: rgb(149, 223, 245);
    flex-grow: 1;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 50vh;
    overflow: auto;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    justify-content: center;
}

