* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.chatBot {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 50px;
    gap: 20px;
}

.chatText {
    color: blue;
  }
  
  .imageText {
    color: red;
  }
